{% extends "base.html" %}
{% block head_title %} Curriculum Vite {%endblock%}

{% block content %}

<div class="jumbotron">
	<h1>Dave Rigby</h1>
		<h3> Senior Business Analyst</h3>
		<p class="lead">Is looking to advance his career through the undertaking of a range of challenging and varied projects.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">View C.V!</a></p>
</div>

<div class="row marketing">
	<div class="col-lg-6">
		<h4>Personal Details</h4>
		<p>My personal information and my career mission statement.</p>
		<h4>Job History</h4>
		<p>My employment history.</p>
		<h4>Skill Summary</h4>
		<p>A list of my business and technical skills.</p>
	</div>
	<div class="col-lg-6">
		<h4>Education</h4>
		<p>A list of formal education including professional courses.</p>
		<h4>Interests and Hobbies</h4>
		<p>My interests and hobbies.</p>
		<h4>Contact Details</h4>
		<p>Ways to contact me.</p>
	</div>
</div>

<footer class="footer">
	<p>&copy; 2016 Sith and Walker IT.</p>
</footer>

		
{% endblock %}